/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.container{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}


.logo {
    width: 150px; /* Adjust the logo size */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* or whatever color you prefer */
    font-size: 16px;
}

.github-icon {
    margin-left: 20px; /* Optional space before the GitHub icon */
}
/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    background-color: #202124;
    color: white;
}

.hero-content {
    max-width: 50%;
}

.hero h2 {
    font-size: 1.8rem;
}

.hero .title {
    font-size: 3rem;
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

/* About Section */
.technical {
    padding: 50px;
    background-color: #1c1c1e;
    color: white;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
}

.skill-text{
    margin-top: 0px;
}

.skills {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.skill {
    color: white;
    padding: 50px 50px;
    margin: 0 30px;
    border-radius: 5px;
}

.txt{
    margin-top: 20px;
}

.pic {
    width: 150px;
    height: 150px;
}

/* Work Section */
.project {
    padding: 50px;
    background-color: #202124;
    color: white;
    text-align: center;
}

.portfolio-item {
    display: inline-block;
    justify-content: center;
    margin: 160px;
    text-align: center;
}

.portfolio-item img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.portfolio-item h3 {
    margin-top: 10px;
}

/* Contact Section */
.contact {
    padding: 50px;
    background-color: #1c1c1e;
    color: white;
    text-align: center;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #1c1c1e;
    color: white;
    text-align: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}
